In [1]:
import numpy as np
import pandas as pd

#Download the zoo.csv file from here: 46.101.230.157/datacoding101/zoo.csv

In [2]:
zoo = pd.read_csv('zoo.csv', delimiter = ',')

In [3]:
zoo_eats = pd.DataFrame([['elephant','vegetables'], 
                         ['tiger','meat'],
                         ['kangaroo','vegetables'],
                         ['zebra','vegetables'],
                         ['giraffe','vegetables']],
                        columns=['animal', 'food'])

In [4]:
zoo = zoo.merge(zoo_eats, how = 'left', left_on = 'animal', right_on = 'animal')

In [5]:
zoo = zoo.sort_values(by = ['animal', 'water_need'])

In [6]:
zoo = zoo.sort_values(by = ['water_need'], ascending = False).reset_index(drop = True)

In [7]:
zoo = zoo.merge(zoo_eats, how = 'left').fillna('unknown')

In [8]:
zoo

      animal  uniq_id  water_need        food
0   elephant     1002         600  vegetables
1       lion     1017         600     unknown
2   elephant     1003         550  vegetables
3   elephant     1001         500  vegetables
4       lion     1018         500     unknown
5   kangaroo     1021         430  vegetables
6       lion     1016         420     unknown
7   kangaroo     1020         410  vegetables
8   kangaroo     1022         410  vegetables
9       lion     1019         390     unknown
10     tiger     1006         330        meat
11     tiger     1005         320        meat
12     tiger     1008         310        meat
13     tiger     1004         300        meat
14     tiger     1007         290        meat
15     zebra     1011         240  vegetables
16     zebra     1012         230  vegetables
17     zebra     1010         220  vegetables
18     zebra     1013         220  vegetables
19     zebra     1009         200  vegetables
20     zebra     1014         100  vegetables
21     zebra     1015          80  vegetables